div.form-group.required label:first-child:after{
    content:'*';
    color: #ff0000;
    padding-left: 5px;
}

.is-invalid {
    border-left: solid 6px red;
}
  
.material-icons {
    display: inline-flex;
    vertical-align: middle;
}