<div class="jumbotron" style="background-color: rgba(6, 36, 54, 0.151); color:rgb(0, 22, 36);">
    <h1 class="text-center">Вас приветствует сайт диагностики речевого развития!</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p>Доступно мобильное приложение в Google Play</p>
    <p class="lead">
        <button class="btn btn-primary btn-lg" [disabled]="true">Скачать</button>
    </p>
</div>
<mat-card class="container mt-5">
    <div class="text-center">
        <h2>Представляем Вашему вниманию систему диагностики развития речи детей с ОНР различных типов</h2>
        <h3>
            <p>Перейдите по ссылке выше и скачайте наше мобильное приложение в Google Play. Чтобы программа работала
                в полную силу необходимо зарегистрироваться здесь в личном кабинете.
                После этого Вы можете добавлять пациентов, а также просматривать и анализировать их результаты,
                предварительно протестировав возможности ребенка в нашем мобильном приложении.
            </p>
        </h3>
        <h2>Из чего состоит мобильное приложение?</h2>
        <h3>
            <p>Мобильное приложение диагностики недоразвития речи у детей дошкольного возраста имеет разделы
                указывающие
                тип ОНР (1, 2, 3)
                В каждом разделе, есть свои секции, а вних в свою очередь определены миссии и уровни. Каждая миссия
                имеет свои уникальные уровни,
                которые позволят, как специалистам провести качественную диагностику, так и детям не дадут заскучать.
            </p>
        </h3>
    </div>
</mat-card>